<?php
   $userData = $this->session->all_userdata();
?>
<script src="<?php echo base_url("resources/js/jquery.browser.min.js");?>"></script>

<script>
   	
if(!$.browser.mozilla && !$.browser.webkit){
	window.location.href='<?php echo base_url("outdated-browser")?>';
}

</script>

<div class="backbar"></div>

<script src="<?php echo base_url("resources/js/croppie.min.js");?>"></script>
<script src="<?php echo base_url("resources/js/jquery.idle.min.js");?>"></script>
<script src="<?php echo base_url("resources/js/medialum-tools.js?".FULL_VERSION);?>"></script>
<script src="<?php echo base_url("resources/js/roulette.js?".FULL_VERSION);?>"></script>
<script src="<?php echo base_url("resources/js/taphold.js?".FULL_VERSION);?>"></script>
<script src="<?php echo base_url("resources/js/jquery.lazyloadxt.extra.min.js?".FULL_VERSION);?>"></script>

<!-- autocompletar -->

<script src="<?php echo base_url("resources/js/jquery.caret.js");?>"></script>
<script src="<?php echo base_url("resources/js/jquery.atwho.min.js");?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo base_url("resources/css/jquery.atwho.min.css");?>">

<!-- fin autocompletar -->

<link rel="stylesheet" type="text/css" href="<?php echo base_url("resources/css/highlight.css?".FULL_VERSION);?>">
<script src="<?php echo base_url("resources/js/highlight.pack.js");?>"></script>
<script src="<?php echo base_url("resources/js/jquery.zoom.min.js");?>"></script>
<script src="<?php echo base_url("resources/js/clipboard.min.js");?>"></script>

<script src="<?php echo base_url("resources/js/twemoji.min.js");?>"></script>
<script src="<?php echo base_url("resources/js/chat.js?".FULL_VERSION);?>"></script>
<script src="<?php echo base_url("resources/js/waves.min.js");?>"></script>

<?php switch(SEASON){
    case "christmas":?>
		<script src="<?php echo base_url("resources/season/christmas/particles.min.js");?>"></script>
		<script>
		var sleigh = new Audio("resources/season/christmas/sleigh.mp3");
		$(document).ready(function(){
		
    		particlesJS("medialum_home", {
    			  "particles": {
    			    "number": {
    			      "value": 400,
    			      "density": {
    			        "enable": true,
    			        "value_area": 800
    			      }
    			    },
    			    "color": {
    			      "value": "#ffffff"
    			    },
    			    "shape": {
    			      "type": "image",
    			      "stroke": {
    			        "width": 3,
    			        "color": "#fff"
    			      },
    			      "polygon": {
    			        "nb_sides": 5
    			      },
    			      "image": {
    			        "src": "resources/season/christmas/flake.png",
    			        "width": 100,
    			        "height": 100
    			      }
    			    },
    			    "opacity": {
    			      "value": 0.7,
    			      "random": false,
    			      "anim": {
    			        "enable": false,
    			        "speed": 1,
    			        "opacity_min": 0.1,
    			        "sync": false
    			      }
    			    },
    			    "size": {
    			      "value": 5,
    			      "random": true,
    			      "anim": {
    			        "enable": false,
    			        "speed": 20,
    			        "size_min": 0.1,
    			        "sync": false
    			      }
    			    },
    			    "line_linked": {
    			      "enable": false,
    			      "distance": 50,
    			      "color": "#ffffff",
    			      "opacity": 0.6,
    			      "width": 1
    			    },
    			    "move": {
    			      "enable": true,
    			      "speed": 3,
    			      "direction": "bottom",
    			      "random": true,
    			      "straight": false,
    			      "out_mode": "out",
    			      "bounce": false,
    			      "attract": {
    			        "enable": true,
    			        "rotateX": 300,
    			        "rotateY": 1200
    			      }
    			    }
    			  },
    			  "interactivity": {
    			    "detect_on": "canvas",
    			    "events": {
    			      "onhover": {
    			        "enable": false,
    			      },
    			      "onclick": {
    			        "enable": true,
    			        "mode": "repulse"
    			      },
    			      "resize": true
    			    },
    			    "modes": {
    			      "repulse": {
    			        "distance": 200,
    			        "duration": 0.2
    			      }
    			    }
    			  },
    			  "retina_detect": true
    			});
    		
    		$("#medialum_home .particles-js-canvas-el").css({
    		    width: "100%",
    		    height: "100%",
    		    position: "absolute",
    		    top: "0",
    		    left: "0",
    		    "z-index":"-1",
    		    background: "#094c90"
    		})
    		
    		$(".no-chats-wrapper").css({
    			background:"none",
    			position:"relative"
    		})
    
    		$(".chat_wrapper").css({
    			background:"none",
    			position:"relative"
    		})
    
    		$("#medialum_home").find("img:first").attr("src","resources/season/christmas/logo.png")
    		$(".med-nov-big-title").text("Medialum te desea felices fiestas!");
    
    		var particlesActivated = true;
    		
    		setInterval(function(){
    			if(particlesActivated && !$("#medialum_home").is(":visible")){
    				pJSDom[0].pJS.particles.move.enable = false;
    				particlesActivated = false;
    			} else if(!particlesActivated && $("#medialum_home").is(":visible")){
    				pJSDom[0].pJS.particles.move.enable = true;
    				pJSDom[0].pJS.fn.particlesRefresh();
    				particlesActivated = true;
    			}
    		},1000)
    		
    		$("#medialum_home").find("img:first").css("cursor","pointer")
    		
    		$("#medialum_home").find("img:first").mousedown(function(){
    			sleigh.currentTime = 0
    			sleigh.play();	
    		
    		})
		});
		
		</script>
	<?php break;
} ?>

<link rel="stylesheet" type="text/css" href="<?php echo base_url("resources/css/waves.min.css");?>">

<link rel="stylesheet" type="text/css" href="<?php echo base_url("resources/css/chat.css?".FULL_VERSION);?>">


<?php if(count($skin)>0):?>
	<link rel="stylesheet" type="text/css" href="<?php echo base_url("resources/css/skins/".$skin[0]["file"]."?".FULL_VERSION)?>">
<?php endif;?>

<link rel="stylesheet" type="text/css" href="<?php echo base_url("resources/css/store.css?".FULL_VERSION);?>">
<link rel="stylesheet" type="text/css" href="<?php echo base_url("resources/css/roulette.css?".FULL_VERSION);?>">
<link rel="stylesheet" type="text/css" href="<?php echo base_url("resources/css/croppie.css");?>">

<script type="text/javascript">

	var c_username = "<?php echo ((isset($userData["username"]))?$userData["username"]:"");?>";
	var c_password = "<?php echo ((isset($userData['password']))?$userData['password']:"");?>";
	const localconfig = JSON.parse(localStorage.getItem("localconfig")) || {}
	var talking_to = "";
	var nuevo_mensaje_snd = <?php echo $nuevo_mensaje_snd;?>;
	var historialLoaded = [];
	var historialLoading = [];
	var monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
	                  "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
	                ];
    var dayNames = ["Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado"]
	var allUsers = [];
	var mutedEntities = <?php echo $muted_entities; ?>;
	var max_upload_size = <?php echo $max_upload_size; ?>;
	var temporalMessage = [];
	var groups = [];
	var groupCounter=0;
	var lifetimeScore = <?php echo $lifetime_score?>;
	var emojis = [];
	var emojisShortcuts = [];
	var emojis_custom = <?php echo $emojis;?>;
	var emojis_categories = [{name:"Historial",icon:"2b50"},{name:"Smileys & People", icon:"1f601"},{name:"Animals & Nature", icon:"1f33b"},{name:"Food & Drink", icon:"1f354"},{name:"Objects", icon:"1f6e0"},{name:"Activities", icon:"1f3d3"},{name:"Travel & Places", icon:"26f0"},{name:"Symbols", icon:"2705"},{name:"Flags", icon:"1f1e6-1f1f7"}]

	if(emojis_custom.length>0){
		emojis_categories.push({name:"Custom", icon:base_url+emojis_custom[0].url});
	}
	
	for(var i=0;i<emojis_custom.length;i++){
		emojis.push({height:emojis_custom[i].height,nombre:emojis_custom[i].nombre,url:base_url+emojis_custom[i].url,rotable:emojis_custom[i].rotable,category:"Custom"})
	}
	
	<?php echo ((ENVIRONMENT=='development')? "var ipDesarrollo='".IP_DESARROLLO."';":"");?>

	var sn_mensaje = <?php echo $options["sn_mensaje"];?>;
	var ver_desconectados = <?php echo $options["ver_desconectados"];?>;
	var medialum_go_sound = <?php echo $options["medialum_go_sound"];?>;
	var recordatorio_notif = <?php echo $options["recordatorio_notif"];?>;
	
	</script>
<div class="medialum-select" opened="false" id="submenu-tools">
	<div onclick="addPerson(true);" class="waves-effect waves-classic waves-block waves-light">
		<i class="fa fa-user-plus"></i> Crear grupo
	</div>
	<div onclick="openOptions();" class="waves-effect waves-classic waves-block waves-light">
		<i class="fa fa-wrench"></i> Ajustes
	</div>
	<div onclick="help();" class="waves-effect waves-classic waves-block waves-light">
		<i class="fa fa-info-circle" ></i> Información
	</div>
	<?php if($has_privileges){?>
	<div onclick="window.open(base_url+'admin');" class="waves-effect waves-classic waves-block waves-light">
		<i class="fa fa-tasks" ></i> Administrador
	</div>
	<?php }?>
	<div onclick="logout();" class="waves-effect waves-classic waves-block waves-light">
		<i class="fa fa-sign-out-alt"></i> Salir
	</div>
</div>

<div id="estados" class="medialum-select" opened="false">
	<div class="waves-effect waves-classic waves-block waves-light" onclick="changeState('online',false);"><span class='user-state online'></span>Disponible</div>
	<div class="waves-effect waves-classic waves-block waves-light" onclick="changeState('away',false);"><span class='user-state away'></span>Ausente</div>
	<div class="waves-effect waves-classic waves-block waves-light" onclick="changeState('busy',false);"><span class='user-state busy'></span>Ocupado</div>
</div>

<div id="msg-select" class="medialum-select" opened="false">
	<div id='delete-single-msg' class="waves-effect waves-classic waves-block waves-light"><i class="fa fa-trash" style="padding-right:10px;"></i>Eliminar</div>
	<div id='select-single-msg' class="waves-effect waves-classic waves-block waves-light"><i class="fa fa-copy" style="padding-right:10px;"></i>Copiar</div>
</div>

<div id="tool-select" class="medialum-select" opened="false">
	
</div>

<div id="leftbar-select" class="medialum-select" opened="false">
	<div id='toggle-mute' class="waves-effect waves-classic waves-block waves-light"></div>
</div>

<div class="main-wrapper" id="drop">
	<nav class="sidebar" opened="true">
		<div class="tools">
			<div class='my-userpic single-tool waves-effect waves-classic waves-block waves-light' onclick="changePicture();" title="Cambiar imagen" style='line-height:42px'>
				<img id='my-userpic' src="<?php echo base_url("resources/img/usuarios/".$userData["username"]."/image.jpg?".microtime())?>" onerror="$(this).attr('src','<?php echo base_url();?>resources/img/no-profile.png')">
			</div>
			<div class="my-state single-tool waves-effect waves-classic waves-block waves-light" onclick="toggleSelector('#estados',this,'top center');" title="Cambiar estado">
				<div class='user-state online'></div>
			</div>
			
			<div class="single-tool waves-effect waves-classic waves-block waves-light" id='medialum-posts' title="Posts" style='line-height:42px; pointer-events:none;'>
				<i style="opacity: 0.5;" class="fa fa-newspaper"></i>
			</div>
			<div class="single-tool waves-effect waves-classic waves-block waves-light" onclick="medialumGO();" id='medialum-go-button' title="Medialum GO!" style='line-height:42px'>
				<div class='pending-alert badge badge-pill badge-danger'></div>
				<img src='resources/img/medialum-chip.png' width=30 style="vertical-align: middle;">
			</div>
			<div class="single-tool waves-effect waves-classic waves-block waves-light" id='hours-button' onclick="hoursPlanilla()" title="Ver planilla">
				<div class='pending-alert badge badge-pill badge-danger'></div>
				<i class="fa fa-clock"></i>
			</div>
			
			<div class="single-tool waves-effect waves-classic waves-block waves-light" id='submenu' onclick="toggleSelector('#submenu-tools','#submenu');" title="Opciones">
 				<i class="fa fa-ellipsis-v"></i>
 			</div>
			
		</div>
		<div class='contact-search p-2'>
			<i class='fa fa-search'></i>
			<input type='text' class="form-control" id='search' placeholder="Buscar contacto..." autocomplete="off">
		</div>
        <div class='alert alert-success text-center rounded-0 mb-0' id="update-ready" style="display: none;">
        	<h6>Hay una nueva actualización de Medialum!
			<small>Clickeá el botón para actualizar la aplicación!</small></h6>
        	<div class='btn btn-success mt-3' onclick='window.location.reload(true);'>Actualizar</div>
        </div>
        <div class='alert alert-warning text-center rounded-0 mb-0' id="notifications-disabled" style="display: none;"></div>
		<ul class="user-list list-group"></ul>
	</nav>
	<div class="content">
		<div class="container p-4 no-chats">
			<div class="row">
				<img src="resources/img/logo-blanco1.png" class="mx-auto d-block" height="150">
			</div>
			<h4 class="my-4 text-white">Bienvenido a Medialum!</h4>
			<div class="row">
				<div class="col-sm-10 mx-auto">
					<div class="card">
						<div class="card-header">
							Novedades de <b><span id='full_v_nmbr'></span></b>
						</div>
						<div class="card-body news py-0">
							<ul class="list-group list-group-flush" id="news"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container p-0">
			<div class="talking-to px-2 py-1 align-items-center" style='display:none'>
				<img class="talking-to-pic rounded-circle mx-2">
				<div class="d-inline" id="info">
					<span class="font-weight-bold" id="nombre"></span>
					<small id="typing" style="display: none;"></small>
				</div>
				<span id="tag" style="display:none"></span>
				<i class="talking-to-tools btn btn-lg rounded-circle float-right fa fa-chevron-right" onclick="openTools();"></i>
				<div class="every-tool">
					<label class="tool waves-effect waves-classic waves-block waves-light" id="upload" title="Enviar archivos" style='display:none'>
						<i class="fa fa-upload" style="padding:5px;"></i>
						<input multiple type='file' onclick="this.value = null;" onchange="sendFile(this.files);" style='display:none'>
					</label>
					<label class="tool waves-effect waves-classic waves-block waves-light" id="agregar-persona" title="Agregar persona" onclick="addPerson(false);" style='display:none'>
						<i class="fa fa-user-plus" style="padding:5px;"></i>
					</label>
					<label class="tool waves-effect waves-classic waves-block waves-light" id="nueva-encuesta" title="Crear encuesta" onclick="createSurvey();" style='display:none'>
						<i class="fa fa-question-circle" style="padding:5px;"></i>
					</label>
					<label class="tool waves-effect waves-classic waves-block waves-light" id="delete" title="Eliminar mensajes" onclick="clearMessages();" style='display:none'>
						<i class="fa fa-trash" style="padding:5px;"></i>
					</label>
					<label class="tool waves-effect waves-classic waves-block waves-light" id="salir-grupo" title="Salir del grupo" onclick="exitGroup($('.talking-to').find('#tag').text());" style='display:none'>
						<i class="fa fa-times" style="padding:5px;"></i>
					</label>
				</div>
			</div>
			<div class="all_message_boxes" id="all_message_boxes" style='display:none'>
				<div class="to-bottom hidden" onclick="scrollToBottom(talking_to, true);">
					<i class="fa fa-chevron-down btn btn-lg rounded-circle"></i>
					<div class="badge badge-pill badge-danger" id="unread-count"></div>
				</div>
			</div>
			<div style='position:relative;'>
				<div class='emoji-picker'><div class="categories"></div><div class='emoji-set'></div></div>
			</div>
			<div class="panel" style='display:none'>
				<div class='textarea-container'>
					<img class='emoji-picker-btn' src='resources/img/emojis/default/1f600.png'>
					<textarea class="message-input" id="message" name="message" placeholder="Escribí algo..." style='height: 42px;' rows="1"></textarea>
					<img class='code-btn' title='Agregar código' src='resources/img/code-button.png'>
					<img class='send-btn' title='Enviar mensaje' src='resources/img/send-button.png'>
				</div>
			</div>
		</div>
		

	</div>
	
</div>
<div class="loading-medialum">
	<svg class="spinner-container" width="65px" height="65px" viewBox="0 0 52 52"><circle class="path" cx="26px" cy="26px" r="20px" fill="none" stroke-width="4px" style="stroke: #efefef;"></circle></svg>
</div>
<div class="reconnecting" style="display:none">
	Reconectando...
	<br>
	<svg class="spinner-container" width="65px" height="65px" viewBox="0 0 52 52"><circle class="path" cx="26px" cy="26px" r="20px" fill="none" stroke-width="4px" style="stroke: rgb(102, 179, 255);"></circle></svg>
</div>