body{
	background: linear-gradient(rgba(219, 224, 226, 0.93) 100px, rgba(219, 224, 226, 0.93) 100px), url("../img/bgchatbox.png"), linear-gradient( rgba(231,235,237,1), rgba(231,235,237,1) );
    background-size: 500px;
}

.pass-forgot{
	color:white;
	font-weight:bold;
	margin-top:20px;
}

.pass-forgot:hover{
	text-decoration:underline;
	color:white;
	font-weight:bold;
	cursor:pointer;
}

.main-box{
	box-shadow: 5px 5px 22px 0px rgba(50, 50, 50, 0.72);
	background:#094c90;
	max-width: 320px;
	min-width: 320px;
}

.inner-container form input{
	width:200px;
	margin-bottom:10px;
	text-align:center;
}

.logo img{
	margin-bottom:20px;
}

.login-input{
	font-size:15px;
	padding:12px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    text-align:center;
}

.td{
	width:50%;
}

.boton{
	color: white;
    width: 70px;
    height: 35px;
    line-height: 35px;
    margin: auto;
    border-radius: 5px;
    background: #00305d;
    cursor:pointer;
}

@media screen and (max-width: 440px) {
	.main-container{width:100%; height:100%;}
	.inner-container{height:100%; border-radius:0px;}
	.logo img{margin-bottom: 25px;}
	.btn#boton{margin-top:20px;}
}

.boton:hover{
	color:#00305d;
	background:white;
}

.status{
	margin-bottom:0px;
	margin-top:10px;
	padding:10px;
}