table.dataTable tbody tr.selected, table.dataTable tbody tr.selected i{
    color: white!important;
    background-color: #007bff!important;
}

table.dataTable tbody tr.selected .badge{
    background-color: white!important;
    color: #007bff!important;
}

.navbar-default {
  background-color: #337ab7;
  border-color: #286090;
}
.navbar-default .navbar-brand {
  color: #f9f9f9;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e1e1e1;
}
.navbar-default .navbar-text {
  color: #f9f9f9;
}
.navbar-default .navbar-nav > li > a {
  color: #f9f9f9;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e1e1e1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e1e1e1;
  background-color: #286090;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #e1e1e1;
  background-color: #286090;
}
.navbar-default .navbar-toggle {
  border-color: #286090;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #286090;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f9f9f9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f9f9f9;
}
.navbar-default .navbar-link {
  color: #f9f9f9;
}
.navbar-default .navbar-link:hover {
  color: #e1e1e1;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f9f9f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e1e1e1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e1e1e1;
    background-color: #286090;
  }
}

.spin{
	 -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.spin2{
	 -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-moz-keyframes spin {
from { -moz-transform: rotate(0deg); }
to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
from {transform:rotate(0deg);}
to {transform:rotate(360deg);}
}

.button {
    color: white;
    width: 60%;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 5px;
    background: #00254a;
    cursor:pointer;
   	margin: 4px;
   	transition:opacity 0.3s ease;
}
.button:hover{
	background:#0f6fca;
}

.button.disabled{
	opacity:0.3;
	pointer-events:none;
}

circle{
	stroke: rgba(0, 0, 0, 0.2);
}